{% extends "WypozyczalniaTestBundle::base.html.twig"%}

{% block contentContainer %}
    <div class="container">
  <div class="jumbotron">
    <h2>Dane Kontaktowe</h2>
    <p>Ul. urbanowicza16</p>
    <p>Kraków</p>
    <p>Tel 567345293</p> 
  </div>
{% endblock %}