{% extends "WypozyczalniaTestBundle::base.html.twig"%}

{% block contentContainer %}
    <h1 class="title">Login</h1>

    {% if error %}
        <div class="error">{{ error.message }}</div>
    {% endif %}

    <form action="{{ path("wypozyczalnia_security_check") }}" method="post" id="login">
        <div>
            <label for="username">Login</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>

        <div>
            <label for="password">Hasło</label>
            <input type="password" id="password" name="_password" />
        </div>

        <button type="submit" class="sf-button">
            <span class="border-l">
                <span class="border-r">
                    <span class="btn-bg">Zaloguj się</span>
                </span>
            </span>
        </button>
    </form>
{% endblock %}

{% set code = code(_self) %}
